PORT=3010
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=business_os
DB_FILE=./data/business-os.sqlite
CONTROL_DB_CLIENT=sqlite
CONTROL_DB_HOST=127.0.0.1
CONTROL_DB_PORT=3306
CONTROL_DB_USER=root
CONTROL_DB_PASSWORD=password
CONTROL_DB_NAME=business_os_control
CONTROL_DB_FILE=./data/business-os-control.sqlite
TENANCY_STRICT_HOST_MATCH=true
TENANCY_BOOTSTRAP_HOST=localhost
TENANCY_BOOTSTRAP_DOMAIN=localhost
MODULES_DIR=modules
